<div class="container">

    <select class="form-control" class="btn btn-dark">
        <option value="todos">Rutinas</option>
        <option value="ocio">Principiante</option>
        <option value="trabajo">Intermedio</option>
        <option value="hogar">Avanzado</option>
        <option value="deportes">Tren superior</option>
        <option value="otros">Tren Inferior</option>
    </select>

    <!-- <div class="Post">
        <p>Grupo Muscular:</p>
        <p>Descripcion: </p>
        <img src="" alt="Imagen">

    </div> -->

</div>


<!-- 
(change)="onChangeCategoria($event)" select class


*ngFor="let postItem of arrPost" class postItem

*ngIf="postItem.imagen != null" img -->