<div class="hero">
    <div class="container">
        <h1>Tu Gym 100% integrado al mundo digital</h1>
        <p>El mundo cambió y la forma de entrenar también.
            Por eso existe MyGym:
            <span>La solución app y web</span> que te permite ver planes de entrenamiento desde cualquier parte donde te
            encuentes.
        </p>
        <h3>Basta de calentamiento y comencemos</h3>
    </div>
</div>

<main>
    <div class="row">
        <div class="col-sm-12">
            <div class="titulo">
                <h2>BUSCA, ENCUENTRA Y<br>
                    OBSERVA <strong>EJERCICIOS Y RUTINAS</strong> QUE SE ADAPTEN A TUS NECESIDADES, LUGAR Y TIEMPO</h2>
            </div>
        </div>
    </div>


    <div class="containerInicio">
        <div class="row">
            <div class="col-sm-6" id="info">
                <img id="iconos1" class="phoneApp" src="assets/iconos/multimedia.jpg" alt="">
                <h2>Plan de entrenamiento</h2>
                <p>Permite entrenar con referencias multimedia de fotografía y video desde cualquier parte donde te
                    encuentres,
                    ya sea tu casa, hotel, parque, o gimnasio, si te quieres poner en forma y tener una mejor calidad de
                    vida ya
                    no tienes excusas.</p>
            </div>
            <div class="col-sm-6" id="info">
                <img id="iconos1" class="phoneApp" src="assets/iconos/control.jpg" alt="">
                <h2>Control Total</h2>
                <p>Crea y gestiona tu biblioteca de entrenamiento, te permite elegir
                    entre los mas de 3000 ejercicios de nuestra base de datos</p>
            </div>
        </div>
    </div>
    <div class="containerColum">
        <h3>Gimnasio a tu medida</h3>
        <p>La App de MyGym es todo lo que quieres y necesitas.</p>
        <div class="row">
            <div class="col-sm-4">
                <h2>100% AMIGABLE.</h2>
                <p>Cuenta con un diseño moderno y personalizable.</p>
                <h2>100% MÓVIL</h2>
                <p>Accedé a la aplicación desde cualquier smartphone.</p>
            </div>
            <div class="col-sm-4">
                <img class="phoneApp" src="assets/iconos/total-fitness.jpg" alt="">
            </div>
            <div class="col-sm-4">
                <h2>100% A MEDIDA</h2>
                <p>Diseñado específicamente para ti, tus amigos o familia.</p>
                <h2>100% INMEDIATA</h2>
                <p>Accedé a toda la información cuando quieras</p>
            </div>
        </div>
    </div>


    <div class="containerClientes">
        <div class="row">
            <div class="col-sm-12">
                <h2>QUE DICEN <strong>NUESTROS CLIENTES</strong></h2>
            </div>
        </div>
        <div class="col-sm-12">
            <p>
                "Uso diariamente MyGym porque es un software muy completo que facilita tanto las la planificación de
                los ejercicos. Y además, la manera de ejercutarlos de una forma correcta en función de objetivos que
                uno propone, simples y de forma clara"
            </p>
            <img id="fotoCliente" src="assets/iconos/foto-cliente.jpg" alt="Emiliano Cladera">
            <div class="cliente-info">
                <p><b>Emiliano Cladera</b></p>
            </div>
        </div>
    </div>


    <div class="contactoClientes">
        <div class="row">
            <div class="col-sm-12">
                <h2>Contacto</h2>
                <div><i class="bi bi-telephone"> 0800-456-879</i></div>
                <div><i class="bi bi-instagram"> MyGymApp</i></div>
                <div><i class="bi bi-facebook"> MyGymapp</i></div>
            </div>
        </div>
    </div>
</main>
<footer>
    <div class="footerHome">
        <p>Copyright &copy; 2021 - <a href="">Aviso Legal</a> - <a href="">Cookies</a></p>
    </div>
</footer>