@import "~bootstrap-icons/font/bootstrap-icons.css";

.hero{
   background-image: url(https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2018/08/21/15348461218161.jpg);
    background-color: #999;
    background-blend-mode: multiply;
    height: 60vh;
    background-position: center center;
    background-size: cover;
    display: flex;
}


h1{
    font-family: 'Merienda One', cursive;
    font-size: 40px;
    color: #fff;
    margin-top: 30px;
    width: 600px;
    

}

.hero h3 {
   font-family: 'Merienda One', cursive;
   color: white;
   margin-top: 35px;
   padding: 30px;

  
}


.hero p{
    font-family: 'Fuzzy Bubbles';
    color:white;
    font-size: 18px;
    width: 500px;
    margin-top: 45px;
}
.hero p span{
      color:rgb(241, 121, 0);
      font-size: 20px;
}

/*inicio del main */

.titulo {
    text-align: center;
    margin-top: 40px;
     font-size: 14px;
}
.section-title h2{
    width: 500px;
}

#info{
    text-align: center;
    position: relative;
    display: inline-block;
    padding: 40px;
}


#iconos1{
 width: 100px;
 display: inline-block;
 margin-top: 5px;
  

}

.containerColum{
background-color: rgb(241, 239, 239);
}
.containerColum h3{
    text-align: center;
    margin-top: 10px;
}

.containerColum p{
    text-align: center;
    padding: 20px;
}

.containerColum h2{
    text-align: center;
}

.containerColum h2:hover{
    color: rgb(241, 121, 0);
}

.containerColum .phoneApp{
    width: 500px;
    margin-bottom: 30px;
}

.containerClientes{
padding: 30px;
text-align: center;

}
.containerClientes h2{
    margin-top: 10px;
    margin-top: 30px;
}

.containerClientes .queDicenLosClientesText {
    padding: 10px;
    width: 300px;
    display: inline-block;
    
}

.contactoClientes .clientesTexto{
text-align: left;
}

.containerClientes #fotoCliente{
    width: 170px;
    padding: 15px;
    border: 1px solid black;
    border-radius: 100%;
     
   }

   .cliente-info{
text-align: right;
   }

.cliente-info h3{
       font-weight: 8px bold;
   }

.contactoClientes {
       background-color: black;
       color: white;
       margin-bottom: 71px;
       padding: 30px;
   }


.contactoClientes i{
       width: 40px;
       padding: 10px;
       height: 30px;
       font-weight: 10px;
       font-size: 20px;
   }
   
/* inicio footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 1em 0.625em;
    text-align: center;
}

footer a {
    color:white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(241, 121, 0);
}


