.hero{
   background-image: url(https://e00-elmundo.uecdn.es/assets/multimedia/imagenes/2018/08/21/15348461218161.jpg);
    background-color: #999;
    background-blend-mode: multiply;
    height: 45vh;
    background-position: center center;
    background-size: cover;
    display: flex;
}


h1{
    font-family: 'Merienda One', cursive;
    font-size: 40px;
    color: #fff;
    margin-top: 30px;
    width: 600px;
    

}

.hero h3 {
   font-family: 'Merienda One', cursive;
   color: white;
   margin-top: 35px;
  
}

.hero p{
    font-family: 'Fuzzy Bubbles';
    color:white;
    font-size: 18px;
    width: 500px;
    margin-top: 45px;
}
.hero p span{
      color:rgb(241, 121, 0);
      font-size: 20px;
}

/*inicio del main */
.main{
   
}


.info{
    text-align: center;
    position: relative;
    display: inline-block;
}


.info h3{
     font-size: 18px;
    font-weight: 700;
    padding: 10px 0;   
    width: 600px;
   
   
}

.info p{
    line-height: 25px;
    padding: 10px 0;
    width: 600px;
    
}

.info1{
    text-align: center;
    position: relative;
    display: inline-block;
    align-items: center;
}


.info1 h3{
     font-size: 18px;
    font-weight: 700;
    padding: 10px 0;   
    width: 600px;
    
}

.info1 p{
    line-height: 25px;
    padding: 10px 0;
    width: 600px;
    
}

.iconos1{
 width: 100px;
 display: inline-block;
 margin-top: 5px;
  

}

.containerColum{
background-color: rgb(241, 239, 239);
}
.containerColum h3{
    text-align: center;
}

.containerColum p{
    text-align: center;
}

.containerColum h2{
    text-align: center;
}

.containerColum .phoneApp{
    width: 600px;
}

/* inicio footer */

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: black;
    color: white;
    padding: 1em 0.625em;
    text-align: center;
}

footer a {
    color:white;
    text-decoration: none;
}

footer a:hover {
    color: rgb(241, 121, 0);
}


