<div class="hero">
    <div class="container">
        <h1>Tu Gym 100% integrado al mundo digital</h1>
        <p>El mundo cambió y la forma de entrenar también.
            Por eso existe MyGym:
            <span>La solución app y web</span> que te permite ver planes de entrenamiento desde cualquier parte donde te
            encuentes.
        </p>
        <h3>Basta de calentamiento y comencemos</h3>
    </div>
</div>

<main>
    <div class="info">
        <img class="iconos1" src="assets/iconos/multimedia.jpg" alt="">
        <h3>Plan de Entrenamiento</h3>
        <p>Permite entrenar con referencias multimedia de fotografía y video desde cualquier parte donde te encuentres,
            ya sea tu casa, hotel, parque, o gimnasio, si te quieres poner en forma y tener una mejor calidad de vida ya
            no tienes excusas.</p>
    </div>
    <div class="info1">
        <img class="iconos1" src="assets/iconos/control.jpg" alt="">
        <h3>Control Total</h3>
        <p>Crea y gestiona tu biblioteca de entrenamiento, te permite elegir
            entre los mas de 3000 ejercicios de nuestra base de datos</p>
    </div>


</main>